footer{
    background: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

/* bootstrap overrides */
/* padding top/bottom = 30, left/right = 15 */
.navbar{
    margin-bottom: 0px;
    padding: 30px 15px;
}
.navbar-inverse .navbar-nav>li>a{
    color: #bbb;
}


aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

.range-title {
    color: darkblue;
}

.range-list {
    padding-bottom: 40px;
    padding-top: 40px;
}
.range-list h4 {
    margin-bottom: 40px;
    color: darkorange;
    font-weight: bold;
}
.range-list img {
    width: 100%;
    height: 100%;
    max-width: 140px;
    max-height: 60px;
}

.sports-icon-list {
    background-color: #333;
    padding-bottom: 40px;
}
.sports-icon-list a {
    color: white;
}
.sports-icon-list a h6 {
    margin-top: 2px;
    margin-bottom: 14px;
}
.sports-icon-list img {
    width:70px;
    height:70px;
}

.sports-list-top div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sports-list-top a {
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}

article {
    padding: 40px;
}
article img {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 6px 6px 8px #777;
    margin-bottom: 20px;
}
article p {
    font-size: 16px;
}


/* VendingMachine Styles */

body {
    overflow: hidden
}
.machine {
    margin: 30px 0 0 -30px;
}
.cell {
    height: 110px;
    margin-bottom: 20px;
}
.cell:hover {
    outline: 1px solid red;
}
.productInfo {
    padding-left: 20px;
}

.payButton {
    width: 100px;
    height: 60px;
    margin-top: 20px;
    font-size: 2em;
    margin-left: 15px;
}

.selected .image {
    animation-name: rotate;
    animation-duration: 2s;
}

.sold .image {
    animation-name: drop;
    animation-duration: 2s;
}

@keyframes rotate {
    33% { transform: rotate(-15deg); }
    66% { transform: rotate(15deg); }
}

@keyframes drop {
    99% { transform: translateY(600px) rotate(120deg); }
}

/* End - VendingMachine Styles */